.task {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 4px;
}

.task:not(:last-child) {
  margin-bottom: 20px;
}

.task.is-done {
  border-color: #ccc;
}

.task__title {
  flex: 1 1 auto;
  margin-left: 10px;
}

.task.is-done .task__title {
  text-decoration: line-through;
}