@import "../variables.scss";

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  &-error {
    flex: 1 1 100%;
    color: $delete;
    padding: 5px 0;
    font-size: 12px;
    transition: $transition;
  }
}
